{{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn btn-light" href="{{ path('sites_index') }}">Назад</a>
    <button class="btn btn-primary">Сохранить</button>
{{ form_end(form) }}
