{% extends 'empty.html.twig' %}

{% block title %}Вход | Site monitoring{% endblock %}

{% block body %}
<div class="card">
  <div class="card-body login-card-body">
    <p class="login-box-msg">Войдите для управления проверками сайтов</p>

    {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error.messageKey|trans(error.messageData, 'security') }}
      </div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
      <div class="input-group mb-3">
        <input class="form-control" type="email" id="inputEmail" name="_username" value="{{ last_username }}" placeholder="Email" autocomplete="email" required autofocus>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input class="form-control" type="password" id="inputPassword" name="_password" placeholder="Пароль" autocomplete="current-password" required>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary btn-block" type="submit">
            <i class="fa-solid fa-sign-in-alt mr-1"></i>
            Войти
          </button>
        </div>
      </div>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
  </div>
</div>
{% endblock %}